<%= form_with(model: company, local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :company_name %>
  </div>

  <div class="field">
    <%= form.label :symbol %>
    <%= form.text_field :symbol, id: :company_symbol %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :company_price %>
  </div>

  <div class="field">
    <%= form.label :change %>
    <%= form.number_field :change, id: :company_change %>
  </div>

  <div class="field">
    <%= form.label :changepercentage %>
    <%= form.number_field :changepercentage, id: :company_changepercentage %>
  </div>

  <div class="field">
    <%= form.label :marketcap %>
    <%= form.number_field :marketcap, id: :company_marketcap %>
  </div>

  <div class="field">
    <%= form.label :high %>
    <%= form.number_field :high, id: :company_high %>
  </div>

  <div class="field">
    <%= form.label :low %>
    <%= form.number_field :low, id: :company_low %>
  </div>

  <div class="field">
    <%= form.label :ytd %>
    <%= form.number_field :ytd, id: :company_ytd %>
  </div>

  <div class="field">
    <%= form.label :sector %>
    <%= form.text_field :sector, id: :company_sector %>
  </div>

  <div class="field">
    <%= form.label :exchange %>
    <%= form.text_field :exchange, id: :company_exchange %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
