<h1>Stocks</h1>
<% if @current_user.present? %>
<div>
<div class="stock">
<form action="/companies/result">
  <!-- <label>Enter a stock:</label> -->
  <h3>Add US Stocks</h3>
  <input class="form-control" type="text" name="symbol" placeholder="e.g. AAPL" required autofocus=true></input>
  <button class="btn btn-default">Search</button>
  <div class="stop">
    <%= flash[:notice] %>
  </div>
</form>

<form action="/companies/hk_result">
  <!-- <label>Enter a stock:</label> -->
  <h3>Add HK Stocks</h3>
  <input class="form-control" type="text" name="symbol" placeholder="e.g. 00001" required autofocus=true></input>
  <button class="btn btn-default">Search</button>
  <div class="stop">
    <%= flash[:notice] %>
  </div>
</form>
</div>
</div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th><%= link_to "Name", :sort => "name" %></th>
      <th><%= link_to "Symbol", :sort => "symbol" %></th>
      <th><%= link_to "Price", :sort => "price" %></th>
      <th><%= link_to "Day Price Change", :sort => "change" %></th>
      <th><%= link_to "Day Percentage Change", :sort => "changepercentage" %></th>
      <th><%= link_to "Market Cap", :sort => "marketcap" %></th>
      <th><%= link_to "52 Week High", :sort => "high" %></th>
      <th><%= link_to "52 Week Low", :sort => "low" %></th>
      <th><%= link_to "YTD", :sort => "ytd" %></th>
      <th><%= link_to "Exchange", :sort => "exchange" %></th>
      <th><%= link_to "Industry" %></th>
      <th><%= link_to "Index" %></th>
      <th><%= link_to "Country" %></th>
    </tr>
  </thead>

<tbody>
  <% @companies.each do |company| %>
    <tr>
      <td><p><%= link_to company.name, company %></p></td> <!-- provides both name of company and link to company show page -->
      <td><p><%= company.symbol %></p></td> <!-- symbol provided from api -->
      <td><p>$<%= number_with_precision(company.price, :delimiter => ',', :precision => 2) %></p></td> <!-- price provided from api -->
      <td><p>$<%= number_with_precision(company.change, :delimiter => ',', :precision => 2) %></p></td> <!-- price change provided from api -->
      <td><p><%= number_to_percentage(company.changepercentage, :precision => 2) %></p></td> <!-- price change provided from api -->
      <td><p>$<%= number_with_precision(company.marketcap, :delimiter => ',', :strip_insignificant_zeros => true) %></p></td> <!-- market cap provided from api -->
      <td><p>$<%= number_with_precision(company.high, :delimiter => ',', :precision => 2) %></p></td> <!-- 52 week high price provided from api -->
      <td><p>$<%= number_with_precision(company.low, :delimiter => ',', :precision => 2) %></p></td> <!-- 52 week low price provided from api -->
      <td><p><%= number_to_percentage(company.ytd, :precision => 2) %></p></td> <!-- ytd price provided from api -->
      <td><p><%= company.exchange %></p></td> <!-- country provided from api -->
    </tr>
  <% end %>
</tbody>
</table>
