<div class="search-results">
  <div class="flex-row">
      <div class="details search-results">
        <h1><%= @name %></h1>
        <h2><%= @symbol %></h2>
        <h2><%= @price %></h2>
        <h2><%= @change %></h2>
        <h2><%= @changepercentage %></h2>
        <h2><%= @marketcap %></h2>
        <h2><%= @high %></h2>
        <h2><%= @low %></h2>
        <h2><%= @ytd %></h2>
        <h2><%= @exchange %></h2>
        <h2><%= @sector %></h2>
        <h2><%= @index %></h2>
      </div>
  </div>
</div>
